body{
    background-color: #babfff;
}

header{
   text-align: center;
   width : 100%;
   margin:20px 0;
}

.page-links>span{
    font-weight: bold;
    cursor: pointer;
}
#hex-page{
    text-decoration: underline;
}
#rgb-wrapper,#hsl-wrapper{
    display: none;
}
main{
    text-align: center;
    margin-top: 40px;
}
button{
    margin: 20px;
    padding: 10px,20px;
    font-weight: 600;
    font-size: 110%;
    border: solid 1px grey;
    color: rgb(68,65,65);
    border-radius: 5px;
    cursor:pointer
}
